body{
    background-image: url("https://i.pinimg.com/originals/a8/cf/d1/a8cfd15e1634174251a7db414cd898ad.png"); 
    /* This line adds the background chosen for all pages*/
    background-color: grey; /* this provides a color should the image not work properly*/
    background-repeat: no-repeat; /*ensure no repeats and provides one continous image*/
    background-position:center;/*positions image*/
    background-size:cover; /*resizes the image to cover width of screen*/
    }

img{
    /*below instructions were created to keep the image relative to size of the window*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height:auto;
  }
  /*image will flip when mouse hovers over it*/
  #imgdisplay:hover {
    transform: scaleX(-1);
  }
  /*creating font-family to creat alternaive for different devices*/
  h1{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 250%;
    text-align:center;
  }
  h2{
      text-align: center;
  }
  p, li {
      font-family: Arial, Helvetica, sans-serif;
    font-size:150%;
    text-align:center;
  }
.uppercase{
  font-variant: small-caps;
  text-align:center;
}
/* below was created to allow the styling of the column lists*/
.liststyle{
  list-style-type: none;
  margin: 0;
  padding: 0%;
  overflow: hidden;
}

.liststyle2 {
  display: inline;
  text-align: center;
  padding:5%;
  text-decoration: none;
  font-family: cursive, 'Courier New', Courier, monospace;
  float: left;
}
/*below cerates the changing color effects when hovering over menu*/
.liststyle2:hover {
  background-color: pink;
}
.homepanel2{
  float:left;
  width: 50%;
  padding:10px;
  height:300px;
  clear:both;
}
.homepanel3{
  float:right;
  width: 50%;
  clear:both;
}
.homepanel1 {
  content:"";
  display:flex;
  clear:both;
  font-size: 10px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imagehome2{
  border-radius: 50%;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}
div.polaroid{
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
}
div.polaroidclass{
  text-align: center;
  padding: 0.5%;
}
.banner{
  width:100%;
  height: 20em;
}
/*below assists in centering the columns and centering for aesthetic purposes*/
.columns {
    float: left;
    width: 25%;
    padding: 5%;
    margin-left: 30%;
  }
  
  .rowforms:after {
    content: "";
    display: table;
    clear: both;
  }
  .last {
      clear: both;
      text-align: center;
  }
  .columns{
      max-width: 100%;
  }
.form{
  width:340px;
  height:440px;
  background:#45b3c7;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative
}


button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
