body{
    background-image: url("https://i.pinimg.com/originals/a8/cf/d1/a8cfd15e1634174251a7db414cd898ad.png"); 
    /* This line adds the background chosen for all pages*/
    background-color: #cccccc; /* this provides a color should the image not work properly*/
    background-repeat: no-repeat; /*ensure no repeats and provides one continous image*/
    background-position:center;/*positions image*/
    background-size:cover; /*resizes the image to cover width of screen*/
}
img{
    /*below instructions were created to keep the image relative to size of the window*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:auto;
  }
  /*image will flip when mouse hovers over it*/
  #imgdisplay:hover {
    transform: scaleX(-1);
  }
  /*creating font-family to creat alternaive for different devices*/
  h1{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 250%;
    text-align:center;
  }
  h2{
      text-align: center;
  }
  p, li {
      font-family: Arial, Helvetica, sans-serif;
    font-size:150%;
    text-align:center;
  }
.uppercase{
  font-variant: small-caps;
  text-align:center;
}
/* below was created to allow the styling of the colum lists*/
.liststyle{
  list-style-type: none;
  margin: 0;
  padding: 2%;
  overflow: hidden;
  background-color: teal;
}

.liststyle2 {
  display: inline;
  text-align: center;
  padding:10%;
  text-decoration: none;
}
/*below cerates the changing color effects when hovering over menu*/
.liststyle2:hover {
  background-color: white;
}
/*below assists in centering the columns and centering for aesthetic purposes*/
.columns {
    float: left;
    width: 25%;
    padding: 5%;
    margin-left: 30%;
  }
  
  .rowforms:after {
    content: "";
    display: table;
    clear: both;
  }
  .last {
      clear: both;
      text-align: center;
  }
  .columns{
      max-width: 100%;
  }
.form{
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-right:50%;
}